@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-hr-gradient: linear-gradient(
      to right,
      #cdb575,
      #452113,
      #a6702a,
      #a36c2b,
      #f4f0e4,
      #9f6c2a,
      #a9752a,
      #d5be7b
    );
    --secondary-hr-gradient: linear-gradient(
      to right,
      #cdb575,
      #f4f0e4,
      #9f6c2a,
      #d5be7b
    );
    --primary-btn-gradient: linear-gradient(
      to right,
      #825117,
      #fedd8e,
      #825117
    );
    --nav-btn-gradient: linear-gradient(to right, #825117, #c29d47, #825117);
    --nav-btn-gradient-hover: linear-gradient(
      to right,
      #825117,
      #c29d47,
      #825117
    );
    --primary-bg-gradient: linear-gradient(to top, #372203, #ba892d);

    --primary-header-gradient: linear-gradient(
      to right,
      #926814,
      #caa645,
      #926814
    );
    --secondary-bg-gradient: linear-gradient(to top, #663e09, #caa645);
    --secondary-bg-gradient-hover: linear-gradient(to top, #91620a, #c7a64d);
    --silver-btn-gradient: linear-gradient(to top, #323232, #565656);
    --silver-btn-gradient-hover: linear-gradient(to top, #434343, #727272);
    --text-primary: linear-gradient(to top, #be8e12, #fffbeb);
    --text-primary-hover: linear-gradient(to top, #ffdd00, #fffbeb);
    --sb-gradient: linear-gradient(to top, #181200, #2b1d02, #181200);
  }
}

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: "Do Hyeon", sans-serif;
  font-weight: 300;
  font-style: normal;
}
th,
td,
tr {
  padding: 0.5rem;
  border: 1px solid #3d3d3d;
}
td:hover {
  background: var(--primary-header-gradient);
  text-shadow: 0rem 0rem 1rem #000000;
}
.navgradient {
  background: var(--primary-bg-gradient);
}
.sidebar-bg {
  background: var(--sb-gradient);
}
.header {
  border-radius: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 0.5rem;
  text-shadow: 0rem 0rem 1rem #000000;
  background: var(--primary-header-gradient);
}
.btn-golden-gradient {
  padding: 0.5rem;
  border-radius: 0.375rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 800;
  background: var(--secondary-bg-gradient);
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.btn-gold-nav-gradient {
  padding: 0.5rem;
  color: #ffffff;
  background: var(--secondary-bg-gradient);
  border-radius: 0.3rem;
}

.btn-gold-bg {
  background: var(--secondary-bg-gradient);
}

.btn-gold-secondary-gradient {
  padding: 0.5rem;
  color: white;
  text-shadow: 0rem 0rem 1rem #0a0a0a;
  border-radius: 0.3rem;
  background: var(--nav-btn-gradient);
}
.btn-gold-secondary-gradient:hover {
  box-shadow: 0rem 0rem 0.5rem #d5b150;
  background: var(--nav-btn-gradient);
}
.btn-outline-nav-gradient {
  padding: 0.5rem;
  color: #ffffff;
  background: var(--silver-btn-gradient);
  border-radius: 0.3rem;
}
.btn-outline-nav-gradient:hover {
  padding: 0.5rem;
  color: #ffffff;
  background: var(--silver-btn-gradient-hover);
  border-radius: 0.3rem;
}
.btn-golden-gradient:hover,
.btn-gold-nav-gradient:hover {
  text-shadow: 0rem 0rem 0.3rem;
  background: var(--secondary-bg-gradient-hover);
}

.btn-silver-gradient {
  background: var(--silver-btn-gradient);
}

.btn-silver-gradient:hover {
  text-shadow: 0rem 0rem 0.3rem;
  background: var(--silver-btn-gradient-hover);
}

.hr-gradient {
  height: 4px; /* Adjust thickness */
  border: none;
  background: var(--primary-hr-gradient);
}
.hr {
  height: 4px;
  width: 100%; /* Ensure full width */
  border: none;
  background: var(--secondary-bg-gradient);
  display: block; /* Ensures it's visible */
}

.btn-gold-gradient {
  padding: 0.3rem;
  flex: 1 1 0%;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 800;
  color: #000000;
  background: var(--primary-btn-gradient);
}
.btn-goldsb-gradient {
  padding: 0.3rem;
  flex: 1 1 0%;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: smaller;
  color: #000000;
  background: var(--primary-btn-gradient);
}
/* nav styles */
.nav-btn-primary {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--text-primary);
  mix-blend-mode: normal;
}

.nav-btn-primary:hover {
  background-image: var(--text-primary-hover);
  text-shadow: 0rem 0rem 1rem;
  mix-blend-mode: normal;
}
.nav-btn-secondary {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: white;
  text-shadow: 0rem 0rem 0.5rem #000000;
  mix-blend-mode: normal;
}
.nav-btn-secondary:hover {
  color: var(--text-primary);
  text-shadow: 0rem 0rem 0.3rem;
  mix-blend-mode: color-dodge;
}

.nav-btn-logout {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(to top, #232323, #2e2e2e);
}

.nav-btn-logout:hover {
  background-image: linear-gradient(to top, #2c0000, #550000);
}

.btn-gold-outline {
  padding: 0.5rem;
  flex: 1 1 0%;
  border-radius: 0.375rem;
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-color: #7c5919;
}
.btn-gold-outline:hover {
  color: #000000;
  background: var(--primary-btn-gradient);
}

.active-btn {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  color: #7e7e7e;
  text-shadow: 0rem 0rem 0.5rem #000000;
  background-color: #2e2e2e;
  box-shadow: 0rem 0rem 0.5rem #000000;
}

.active-btn:hover {
  font-weight: 700;
  color: white;
  text-shadow: 0rem 0rem 0.5rem;
  mix-blend-mode: normal;
  background: var(--secondary-bg-gradient-hover);
  box-shadow: 0rem 0rem 0.5rem #ffc402;
}

/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #595959;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
